attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
cloudpickle==1.6.0
cycler==0.10.0
dataclasses==0.8
filelock==3.0.12
grpcio==1.39.0
gym==0.19.0
idna==3.2
importlib-metadata==4.8.1
kiwisolver==1.3.1
matplotlib==3.3.4
msgpack==1.0.2
numpy==1.19.5
panda-gym==1.1.0
pandas==1.1.5
Pillow==8.3.1
protobuf==3.17.3
pyaml==21.8.3
pybullet==3.1.7
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
ray==1.6.0
redis==3.5.3
requests==2.26.0
sb3-contrib==1.1.0
scipy==1.5.4
-e git+https://github.com/sgillen/seagul/@8755938a557bb559c847115b10593787ab85e018#egg=seagul
six==1.16.0
stable-baselines3==1.1.0
tabulate==0.8.9
tensorboardX==2.4
torch==1.9.0
typing-extensions==3.10.0.2
urllib3==1.26.6
zipp==3.5.0
